html,body{
    background-color: #d9dce0;
    margin: 0;
    padding: 0;
}
body {
        font-family: Arial, sans-serif;
        font-size: 13px;
        
        display:flex
}
header{
    display:flex;
    position: fixed;
    background-color: #212529;
    height: 100vh;
    box-sizing: border-box;
    padding: 3rem 1.5rem;
    width: 250px;
}

main{
    min-width: max-content;
    margin-left: 250px;
    padding: 3rem 1.5rem;
    line-height: .75em;
    box-sizing: border-box
}

#app{
  width: 100%;
}

input[type="file"] {
  display: none;
}


.button-upload{
  border: 1px solid #aaa !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  cursor: pointer;
  color: #aaa;
  background-color:#212529;
  transition: ease 300ms;
}

.button-upload:hover{
  border: 1px solid #fff!important; 
  background-color:#212529;
  color:#fff
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}

h3{ color:#888}

.hide{display: none;}

#app p{margin-left: 40px;}

.document-date{
  display: block;
}

.pedido-section {
  position: relative;
  margin-bottom: 1px;
  padding: 1px;
  border-radius: 5px;
}

.pedido-section input[type="checkbox"]{
  position: absolute;
  left: -22px;
  top: 4px;
  z-index: 99;
}

.order-info p {
  margin: 5px 0;
}

      .button{
          margin-bottom: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .delete-button {

        background-color: #ff4d4d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .delete-button:hover {
        background-color: #cc0000;
      }
      .checkbox-container {
        width: 100%;
        margin-bottom: 5px;
        position: relative;
      }

      .checkbox-container div p{
        line-height: .5em;
      } 

      .order-title{
        display: flex;
        height: 2em;
        max-width: 600px;
        justify-content: space-between;
        align-items: center;
        gap:2em;
        /* border-top: 1px solid #ddd; */
        min-width: max-content
      }
      .order-title h4{ margin: none; padding: none;
      }


      .tag {
        background-color: #eee;
        display: flex;
        flex-direction: column;
        align-items: start;
        box-sizing: border-box;
        padding: 3mm;
        margin: 0;
        max-height: 50mm;
        width: 100mm;
        position: relative;
      }

      .product {
        font-size: 18px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        
        justify-content: space-around;
        /* height: 26mm; */
      }

      .product h2{
        padding: .75rem 0;
        line-height: 1.2em;
      }

      .client {
          font-size: 14px;
          line-height: 1.25em;
          padding-top: 15px;
          border-top: 1px solid #ccc;
      }

      .order-pair{
        position: absolute;
        right: 3mm;
        top: 15mm;
        font-size: 40mm;
        opacity: .25;
      }



.product-total{
  width: 500px;
}
span.qty-count{
  display: inline-block;
  /* width: 35px; */
  font-weight: bold;
  text-align: center;
}

.box-item{
  padding: 7px 5px;
  margin: 0;
  border-bottom: 1px solid #999;
}

.document-date, .pedido-section{
  width: 100%;
  display: block;
}
.input-obs{
  display: none;
}
.odd,.null {
    margin: 0;
    padding: .5em;
    width: 233mm;
    display: flex;
    align-items: center;
    border-collapse: collapse;

    border: 1px solid #aaa;
    /* line-height: inherit; */
}

.order-obs, .order-details
{
  line-height: 1.5em;
  background-color: inherit  !important
}

/* .pedido-section .checkbox-container p:nth-child(even) {
  background-color: #f0f0f0; 
} */

/* .pedido-section .checkbox-container p:nth-child(odd), */ .odd{
  background-color: #ccc; /* White for even rows */
}

 .item-extras{
  display: none;
 }

span.item-id {
    /* border-left: 1px solid; */
}

span.item-customer, span.item-id {
    /* border-inline: 1px solid; */
    padding: .75rem;
    line-height: 1.25rem;
}

.item-qty{
  width: 25px;
  padding-left: 5px;
  font-weight: bold;
}

.item-customer{
  font-weight: bold;
}
.products-total{
  padding: 2rem 0;
}

@media print {

    @page {
        size: A4;
        margin: 0; 
    }
    .observations{
      display: none;
    }
    main{
      margin-left: 0;
    }

    .pedido-section input[type="checkbox"]{
      display: none;
    }


    body .tag-print {
        margin: 0;
        
        width: 96mm;
        height: 46mm;
        box-sizing: border-box;
        page-break-after: always; 
        overflow: hidden;
    }


    .no-print {
        display: none !important;
    }

    * {
        page-break-inside: avoid;
    }
}



.tag {
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 3mm;
    margin: 0;
    height: 50mm;
    width: 100mm;
    position: relative;
}

.tags-container {
    padding: 0;
    margin: 0;
}

.order-number,.cnpj {font-size: smaller;text-transform: uppercase;}

.order-client{
  font-weight: bold;
  padding-bottom: 1.5mm;
}

.item-container {
    display: flex;
    flex-direction: column;
    gap: 1.5mm;
}

.item-model {
    font-size: 28px;
    font-weight: bold;
    font-family: sans-serif;
}

.item-pair {
    position: absolute;
    right: 9mm;
    top: -3mm;
    font-size: 40mm;
    opacity: 0.2;
    font-family: fantasy;
    transform: scaleX(1.5);
}

.item-color {
    font-weight: bold;
    font-size: large;
    opacity: .6;
}