*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

.list details{

    transition: ease-in;
    
    background-color: #e4eaef;
    border-radius: 5px;
    overflow: hidden;
    margin-block: 1rem;
}

.list details span{
    margin-left: .75rem;
    font-size: 1.2rem;
}

.list details em{
    float: right;
}


.list summary{
    padding: 1rem;
    background-color: #333;
}

.list summary.red{
    color: #ecab80;
}
.list summary.yellow{
    color: #c6ec80;
}
.list summary.green{
    color: #80eccc;
}

.list article{
    padding: 2rem;
}
.list article p{
    margin-block: .5em;
}
.btns{

    padding: 2rem;
    z-index: 10;
    border-radius: 0.5rem;
}
.act{
    position: fixed;
    right: 0;
    bottom: 0;
    margin-bottom: 4rem;
    margin-right: 4rem;
    
}

.dragging {
    opacity: 0.4;
    border: 2px dashed #007bff;
}

.list {
    padding: 10px;
}

.list details {
    margin-bottom: 8px;
    padding: 5px;
    border: 1px solid #ccc;
    cursor: grab;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #535c5a;
    color: white;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

tbody tr:hover {
    background-color: #e0e0e0;
}